#about{
    height: max-content;
    background-color: $about-background-color;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width:100%;
   // height:60%;
    position: relative;
    &:before{
        position: absolute;
        width:102.5vw;
        height: 100%;
        top:0;
        left:-20%;
        content: "";
        background-color: $about-background-color;
        z-index: -9999;
        
        
    }

    @media only screen and (max-width: 500px){
        flex-direction: column;    
    }

    .about-image{

        max-width:70%;
        margin:3% 0 0 10%;
        position: relative;
       

        @media only screen and (max-width: 768px){
            margin-left: 5%;
        }
        
        @media only screen and (max-width: 500px){
            margin:0 0 0 9%;
            max-width:80%;
            
        }

    }
    .about-text{
        color:$about-text-color;
        font-family: $main-font;
        margin: 2rem 0;
    }

    .about-header{
        font-size: 6em;
        font-weight: bold;
        margin: 0 auto;
        
       
        @media only screen and (max-width: 930px){
            font-size:5em;
            margin: 0;
        }
        @media only screen and (max-width: 773px){
            font-size:4.5em;
            margin: 0;
        }
        @media only screen and (max-width: 705px){
            font-size:4em;
            margin: 0;
        }
        @media only screen and (max-width: 617px){
            font-size:3.5em;
            margin: 0;
        }

        @media only screen and (max-width: 500px){
            font-size:5em;
            text-align: center;
        }
        @media only screen and (max-width: 375px){
            font-size: 4em;
            margin: 2% 0 0 6%;
        }
        
    }

    .about-describe{
    
       margin:5% 30% 0 0;
       font-size: 1.1em;
       font-weight: 100;
       text-align: justify;
       

       @media only screen and (max-width: 1024px){
        margin: 5% 10% 0 0;
       }

       @media only screen and (max-width: 617px){
        font-size: 1em;
       }

       @media only screen and (max-width: 500px){
        margin: 5% 5% 0 5%;
       }
       @media only screen and (max-width: 360px){
        font-size: 1em;
       }
    }
}